{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'tracker/CSS/login.css' %}" />
    <title>Productivity Tracker|login</title>
  </head>
  <body>
    <div class="main">
      <div class="form-container">
        <h2>Login</h2>
        {% if messages %} {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %} {% endif %}

        <form method="POST" action="">
          {% csrf_token %}
          <div class="input-container">
            <div class="value">
              <label for="username">Username:</label>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter your username"
              />
            </div>
            <div class="value">
              <label for="pass1">Password:</label>
              <input
                type="password"
                id="pass1"
                name="pass1"
                placeholder="Enter your password"
              />
            </div>

            <button type="submit">Login</button>
          </div>
        </form>

        <p>
          Don't have an account?
          <a href="{% url 'register' %}" class="link">Register here</a>
        </p>
      </div>
    </div>
  </body>
</html>
